body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

form {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 1.8em;
}

form input {
    padding: 10px;
    font-size: 18px;
}

button {
    font-weight: bold;
    cursor: pointer;
}

.todo-item {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 15px;
}

.todo-item label {
    margin: 0 20px;
    line-height: 1;
}

.todo-item.completed label {
    color: gray;
    text-decoration: line-through;
}

.todo-item .edit {
    display: none;
    padding: 10px;
    font-size: 18px;
}

.todo-item.editing .edit {
    display: block;
}

.todo-item.editing .todo-view {
    display: none;
}

.todo-item button {
    visibility: hidden;
}

.todo-item:hover button {
    visibility: visible;
}

.todo-item.editing:hover button {
    visibility: hidden;
}

.todo-view {
    display: -webkit-flex;
    display: flex;
}

.todo-view input {
    width: calc(10px + 2vmin);
    height: calc(10px + 2vmin);
}

.todo-info {
    width: 100%;
    max-width: 320px;
    padding-top: 1em;
    margin-top: 2.5em;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #bfbfbf;
    text-align: center;
}

.todo-info p {
    margin: 0.7em 0;
    line-height: 1;
}

.todo-info a {
    color: inherit;
    text-decoration: none;
}

.todo-info a:hover {
    color: #282c34;
    text-decoration: underline;
}
